

@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: #F3B4B5;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 134px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images {
    width: 21rem;
    height: 17rem;
    margin-top: -53px;
}

header {
    background-color: transparent;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 43px;
    font-size: 21px;
    font-weight: bold;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #0E0001;
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #e65d88;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after {
    width: 100%;
}


/* -------------------HERO BANNER---------------------- */

.container-1 {
    max-width: 1200px;
    margin: -35px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mine {
    max-width: 400px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
}

.intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.text {
    font-size: 23px;
    color: #0E0001;
}

.text-2 {
    font-size: 3rem;
    font-family: 'Euphoria Script', cursive;
    color: #012027;
}


h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: "Brush Script MT", cursive;
    color: #F8F4F8;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.opening {
    line-height: 2.6;
    margin-bottom: 13px;
    margin-left: 235px;
    font-size: 21px;
    text-align: end;
    color: #0E0001;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.link {
    background-color: #0E0001;
    color: #F3B4B5;
    padding: 15px 41px;
    border: 2px solid #2E3D4A;
    font-size: 19px;
    font-weight: 600;
    border-radius: 23px;
    cursor: pointer;
    font-family:system-ui;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.link:hover {
    border: 2px solid;
    background-color: transparent;
    color: #0F0000;
    box-shadow: 0 0 15px #a53737;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    img {
        max-width: 200px;
    }
}


/* -----------------SKILLS SECTION ------------------ */


.container-2 {
    display: flex;
    justify-content: center;
    gap: 16rem;
    align-items: center;
    height: 100vh;
    background-color: #440000;
    margin-top: 125px;
}

.right-side h1 {
    font-size: 3rem;
    text-align: center;
    color: #F3B4B5;
    margin-top: -61px;
    margin-bottom: 103px;
    font-style: normal;
}

.right-side .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 30px;
}

.right-side .skill {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    box-shadow: 0 0 15px #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.skill img {
    width: 42px;
    margin: 0;
    height: 42px;
}


/* ---------------------PROJECTS---------------------- */

.mywork{
    background-color: #CD8B8D;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'emoji';
} 

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
}


.card {
    width: 353px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}
  
.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}
  
.card-content h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

/* ---------------------------CONTACT & FOOTER----------------------- */

.section {
    margin: 0;
    background-color: #6C1313;
    display: flex;
    flex-direction: column;
}

.container-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-descryption {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 31%;
    padding: 55px 68px;
}

.contact-descryption h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    align-self: baseline;
    color: #F3B4B5;
}

.contact-descryption p{
    align-self: baseline;
    font-size: 25px;
    color: #F3B4B5;
}


.form {
    flex-basis: 31%;
    color: #fff;
    font-family: sans-serif;
    text-align: left;
    padding: 20px;
    margin-right: 124px;
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #fff;
    color: #800000;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #fff;
    color: #800000;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #f0f0f0;
}

hr {
    color: black;
    width: 90%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 64rem;
}

.sign h1{
    font-family: 'Brush Script MT', cursive;
    letter-spacing: 5px;
    color: antiquewhite;
}

.social-icons {
    display: flex;
    margin-top: 24px;
}

.social-icons a {
    margin: 0 10px;
    color: #f08080;
    text-decoration: none;
}

.social-icons a img {
    width: 3rem;
    height: 3rem;
}